/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Color de fondo general */
}

.container {
    width: 80%;
    margin: 0 auto; /* Centra el contenido */
}

header {
    background-color: green;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

nav {
    display: none;
}

nav.active {
    display: block;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

footer {
    background-color:green;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #fff;
    margin: 0 5px;
    font-size: 20px;
}

/* Estilos para el contenido principal */

main {
    padding: 20px 0;
}

/* Estilos para secciones */

section {
    margin-bottom: 40px;
}

/* Estilos para encabezados y párrafos */

h2 {
    font-size: 24px;
    color: green;
}

p {
    font-size: 16px;
    color: #333;
}

/* Estilos para lista de actividades */

.actividades-lista {
    list-style-type: square;
    margin-left: 20px;
}

/* Estilos para tabla de eventos */

.eventos-table {
    width: 100%;
    border-collapse: collapse;
}

.eventos-table th, .eventos-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.eventos-table th {
    background-color: #f2f2f2;
    text-align: left;
}

/* Estilos para imágenes y videos */

.image-container {
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Aspect ratio (16:9) */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Estilos para formulario */

.formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formulario label {
    display: block;
    margin-bottom: 10px;
    color: green;
}

.formulario input[type="text"],
.formulario input[type="password"],
.formulario input[type="date"],
.formulario input[type="email"],
.formulario input[type="tel"],
.formulario textarea,
.formulario select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.formulario input[type="submit"] {
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: #4CAF50;
}

/* Estilos específicos para dispositivos móviles */

@media screen and (max-width: 768px) {
    .container {
        width: 90%; /* Ajusta el ancho del contenedor principal */
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    .video-container {
        padding-bottom: 30%; /* Ajusta el aspect ratio de los videos */
    }
}
